:root {
    --custom-dark-red: rgb(55, 18, 37);
    --custom-red: rgb(122, 7, 43);
    --custom-black: rgb(35, 23, 23);
    --custom-wite: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 250px;
    height: 250px;
    background-color: var(--custom-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    position: absolute;
    width: 180px;
    height: 200px;
    background-color: var(--custom-red); 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(180deg);
    z-index: 2;
    box-shadow: 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    position: absolute;
    width: 180px; 
    height: 50px;   
    background: var(--custom-red); 
    border-radius: 100px 100px 0 0;
    transform: translateY(100px);
    z-index: 1;
    box-shadow: 0 0 15px;
}

.fondo {
    contain: content;
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: var(--custom-black); 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; 
    z-index: 3; 
    transform: translateY(-15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    width: 130px;
    height: 130px;
    background-color: var(--custom-wite);
    border-radius: 100%;
    transform: translateY(25px);
    box-shadow: 0 0 15px;
}

.neck {
    position: absolute;
    width: 20px;
    height: 50px;
    background-color: var(--custom-wite);
    transform: translateY(-60px);
    z-index: -1;
}

.neck::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: var(--custom-black);
    transform: translateY(15px);
    box-shadow: 0 15px 0;
}

.hair, .eyes, .eye {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: var(--custom-black); 
    transform: translate(-20px, 120px);
    border-radius: 100%;
}

.hair::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: var(--custom-black); 
    transform: translate(70px, 120px);
    border-radius: 100%;
}

.eye {
    width: 50px; 
    height: 40px;  
    background: var(--custom-black); 
    border-radius: 100px 100px 0 0;
    margin: 2px;
    transform: translateY(30px);
}

.eye-l {
    transform: translateY(30px) rotate(10deg);
}

.eye-r {
    transform: translateY(30px) rotate(-10deg);
}

.nose {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid var(--custom-black);
    transform: translate(50px, -20px) rotate(180deg);
}

.mouth {
    position: absolute;
    width: 60px;
    height: 30px; 
    border-radius: 100%;
    transform: translate(35px, -35px);
    border-top: 1px solid var(--custom-black);
    animation: smile-ani 1s infinite ease;
}

.mouth::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: var(--custom-black);
    border-radius: 1px;
    transform: translate(29px, -3px);
    box-shadow: 10px 1px 0,
        20px 3px 0,
        -10px 1px 0,
        -20px 3px 0;
}

.eye-c {
    contain: content;
    width: 25px;
    height: 35px;
    background-color: var(--custom-wite); 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    
}

.ani {
    animation: eye-ani 1s infinite ease;
}

.eye-l>.eye-c {
    transform: rotate(100deg) translateX(2px);
}

.eye-r>.eye-c {
    transform: rotate(-100deg) translateX(-2px);
}

.eye-c::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #4F201C;
    border-radius: 100%;
}

.eye-l>.eye-c::before,
.eye-r>.eye-c::before {
    transform: translate(2px, 8px);
} 

.eye-l>.eye-c::after,
.eye-r>.eye-c::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--custom-black);
    border-radius: 100%;  
} 

.eye-l>.eye-c::after{
    transform: translate(6px, 13px);
}

.eye-r>.eye-c::after{
    transform: translate(7px, 13px);
}

.body::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 49px;
    background-color: var(--custom-red);
    border: 1px solid;
    transform: translateX(85px);
}

.body::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--custom-red);
    border: 1px solid;
    transform: translate(85px, 30px);
}

@keyframes smile-ani {
    0% {
        transform: translate(35px, -35px);
    }
    25% {
        transform: translate(35px, -35px) rotate(5deg);
    }
    50% {
        transform: translate(35px, -35px);
    }
    75% {
        transform: translate(35px, -35px) rotate(-5deg);
    }
    100% {
        transform: translate(35px, -35px);
    }
}

@keyframes eye-ani {
    0% {
        width: 25px;
    }
    25% {
        width: 0px;
    }
    50% {
        width: 25px;
    }
    75% {
        width: 0px;
    }
    100% {
        width: 25px;
    }
}