:root {
    --custom-dark-red: rgb(55, 18, 37);
    --custom-red: rgb(122, 7, 43);
    --custom-black: rgb(35, 23, 23);
    --custom-wite: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    width: 180px;
    height: 200px;
    background-color: var(--custom-red);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(180deg);
    box-shadow: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    position: absolute;
    width: 180px; 
    height: 50px;   
    background-color:  var(--custom-red);
    border-radius: 100px 100px 0 0;
    transform: translateY(100px); 
    z-index: -1;
}

.fondo {
    contain: content;
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: var(--custom-black);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;  
    transform: translateY(-25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.face {
    width: 120px;
    height: 120px;
    background-color: var(--custom-wite);
    border-radius: 100%;
    transform: translateY(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px;
}

.hair::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 60px;
    background-color: var(--custom-black);
    border-radius: 100%;
    transform: translate(-50px, 30px);
}

.hair::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--custom-black);
    border-radius: 100%;
    transform: translate(23px, 30px);
}
.eyes {
    position: absolute;
    display: flex;
}

.eye {
    width: 50px; 
    height: 40px;  
    background: var(--custom-black); 
    border-radius: 100px 100px 0 0;
    margin: 2px;
}

.l {
    transform: rotate(10deg);
}

.r {
    transform: rotate(-10deg);
}

.nose {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid var(--custom-black);
    transform: translateY(-10px) rotate(180deg);
}

.mouth {
    position: absolute;
    width: 60px;
    height: 30px;
    transform: translateY(-30px);
    border-radius: 100%;
    border: 2px solid var(--custom-black);
    border-bottom: none;
    border-left: none;
    border-right: none; 
    animation: smile-ani 1s infinite ease;
}

.mouth::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: var(--custom-black);
    transform: translate(28px, -4px);
    box-shadow: 10px 0 0,
        20px 3px 0,
        -10px 0 0,
        -20px 3px 0;
}

.neck {
    position: absolute;
    background-color: var(--custom-wite);
    width: 20px;
    height: 50px;
    transform: translateY(-50px);
    z-index: -1;
}

.neck::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 5px;
    background-color: var(--custom-black);
    transform: translateY(10px);
    z-index: 1;
    box-shadow: 0 15px;
}

.eye-l {
    width: 25px;
    height: 30px;
    background-color: var(--custom-wite); 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(90deg) translate(5px, -12px);
}

.eye-r {
    width: 25px;
    height: 30px;
    background-color: var(--custom-wite); 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(-90deg) translate(-5px, 12px);
}

.eye-r::before, .eye-l::before {
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    background-color: #4E2A24;
    border-radius: 100%;
}

.eye-r::before {
    transform: translate(2px, 5px);
}

.eye-l::before {
    transform: translate(3px, 5px);
}

.eye-r::after, .eye-l::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--custom-black);
    border-radius: 100%;
}

.eye-r::after {
    transform: translate(7px, 9px);
}

.eye-l::after {
    transform: translate(7px, 9px);
}

@keyframes smile-ani {
    0% {
        transform: translateY(-30px);
    }
    25% {
        transform: translate(10px, -30px)  rotate(7deg);
    }
    50% {
        transform: translateY(-30px);
    }
    75% {
        transform: translate(-10px, -30px) rotate(-7deg);
    }
    100% {
        transform: translateY(-30px);
    }
}